<body>
<%- include("./partials/header.ejs") %>
  <div class="movie__single__container">
    <article class="movie__single">
      <h1 class="movie__single__header"><%=movie.attributes.title%></h1>
      <%if (movie.attributes.image) {%>
      <img class="movie__single__img" src="<%=movie.attributes.image.url%>" />
      <%}%>
      <div class="movie__single__intro"><%-movie.attributes.intro%></div>
      <a class="primary_button__back" href="/movies">Back to movies page</a>
    </article>
  </div>
  <div class="screening__info-container">
    <div class="screening__info-list">
      <h1>hej</h1>
    </div>
  </div>
<%- include("./partials/footer.ejs") %>
</body>
